.grid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 2fr 1fr;
  grid-template-rows: 100% 100%;
}

.box {
  background-color: black;
  color: black;
}

.a {
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: 3;
}

.b {
  grid-column-start: 2;
  grid-column-end: span 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
